.pricingBanner{
    width: 1300px;
    height: 1121px;
    position: absolute;
    top: 400px;
    left: 0;
    right: 0;
    margin: auto;
    border: 10px;
    padding: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.pricingBanner .container{
    width: 1202px;
    height: 1061px;
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}

.pricingBanner .container .top{
    width: 521px;
    height: 83px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.pricingBanner .container .top h1{
    width: 100%;
    height: 49px;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: var(--text-color-2);
}

.pricingBanner .container .top p{
    width: 100%;
    height: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21.6px;
    text-align: center;
    color: var(--text-color-1);
}

.pricingBanner .container .top p span{
    color: var(--bg-5);
}

.pricingBanner .container .bottom{
    width: 1202px;
    height: 802px;
    display: flex;
    gap: 32px;
}

.pricingBanner .container .bottom .card{
    background: var(--bg-4);
    border: 1px solid var(--text-color-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 20px;
    width: 379.33px;
}

.pricingBanner .container .bottom .card .content{
    width: 339.33px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: start;
    height: 100%;
}

.pricingBanner .container .bottom .card img{
    width: 50px;
    height: 50px;
}

.pricingBanner .container .bottom .card h3{
    width: 100%;
    color: var(--bg-5);
    font-weight: 500;
    font-size: 24px;
}

.pricingBanner .container .bottom .card p{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-color-1);
}

.pricingBanner .container .bottom .card p span{
    color: var(--bg-5);
    font-weight: 700;
}

.pricingBanner .container .bottom .card .price{
    width: 199px;
    height: 59px;
    display: flex;
    align-items: end;
    gap: 12px;
}

.pricingBanner .container .bottom .card .price .amount{
    height: 100%;
    width: 70px;
    font-weight: 700;
    font-size: 44px;
    color: var(--text-color-2);
}

.pricingBanner .container .bottom .card .price .user{
    color: var(--text-color-1);
    font-size: 14px;
    font-weight: 500;
    height: 20px;
}

.pricingBanner .container .bottom .card hr{
    width: 100%;
    border: 1px solid var(--text-color-1);
}

.pricingBanner .container .bottom .card .middle{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.pricingBanner .container .bottom .card .middle .item{
    display: flex;
    align-items: center;
    gap: 12px;
}

.pricingBanner .container .bottom .card .middle .item .checkBox{
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.pricingBanner .container .bottom .card .middle .item .checkBox.yes{
    background: var(--bg-5);
    color: var(--main-bg);
}

.pricingBanner .container .bottom .card .middle .item .checkBox.no{
    background: var(--text-color-1);
    color: var(--main-bg);
}

.pricingBanner .container .bottom .card .foot{
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: navajowhite;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
}

.pricingBanner .link{
    background: red;
    outline: none;
    border: none;
    font-size: 18px;
    width: 100%;
    padding: 16px 80px 16px 80px;
    height: 56px;
    border-radius: 22px;
    cursor: pointer;
    border: 1px solid var(--bg-5);
    background: var(--bg-5);
    color: var(--main-bg);
    font-weight: 600;
}

.pricingBanner .container .bottom .card .middle .item p{
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    color: var(--text-color-2);
}

.pricingBanner .container .bottom .card-1 .content .head{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 199px;
}

.pricingBanner .container .bottom .card-2{
    border: 3px solid var(--bg-5);
}

.pricingBanner .container .bottom .card-2 .content .head{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}

.pricingBanner .container .bottom .card-2 .content .head .badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 132px;
    height: 28px;
}


.pricingBanner .container .bottom .card-3 .content .head{
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 199px;
}

@media screen and (max-width: 1200px) {
    .pricingBanner .container{
        width: 95vw;
        align-items: flex-start;
    }

    .pricingBanner .container .top{
        width: 100%;
    }

    .pricingBanner .container .bottom{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .pricingBanner{
        width: 100vw;
    }
}

@media screen and (max-width: 400px) {
    .pricingBanner .container .bottom .card{
        width: 95%;
    }
}