.homePage{
    background: var(--main-bg);
    width: 100%;
    min-height: 100vh;
}

.homePage .area-1{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1150px;
}

.homePage .layer-1{
    position: absolute;
    width: 1098px;
    height: 600px;
    z-index: 10;
    top: 552px;
    left: 171px;
    /*
        border-radius: 22px;
    */
}

@media screen and (max-width: 768px) {
    .homePage .layer-1{
        width: 96%;
        left: 0;
        right: 0;
        margin: auto;
        top: 850px;
        height: 400px;
    }
}