.homePage{
    background: var(--main-bg);
    width: 100%;
    min-height: 100vh;
}

.homePage .area-1{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1150px;
}

.homePage .layer-1{
    position: absolute;
    width: 1098px;
    height: 600px;
    z-index: 10;
    top: 752px;
    left: 50%;
    transform: translateX(-50%);
    /*
        border-radius: 22px;
    */
}

@media screen and (max-width: 1200px) {
    .homePage .layer-1{
        width: 70%;
        left: 50%;
        right: 0;
        margin: auto;
        top: 850px;
        height: 400px;
    }
}

@media screen and (max-width: 1000px) {
    .homePage .layer-1{
        width: 70%;
        left: 50%;
        right: 0;
        margin: auto;
        top: 850px;
        height: 400px;
    }
}

@media screen and (max-width: 768px) {
    .homePage .layer-1{
        width: 85%;
        left: 50%;
        right: 0;
        margin: auto;
        top: 850px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .homePage .layer-1{
        height: 200px;
    }
}