.oAuthBtn{
    width: 100%;
    height: 56px;
    border-radius: 22px;
    border: 1px solid var(--text-color-2);
    padding: var(--padding-2);
    color: var(--text-color-2);
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    outline: none;
    cursor: pointer;
}

.oAuthBtn .authContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.oAuthBtn .authContent .card{
    display: flex;
    gap: 12px;
}

.oAuthBtn .auhImg{
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.oAuthBtn .authText{
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 450px) {
    .oAuthBtn{
        padding: var(--padding);
    }
    .oAuthBtn .authContent{
        gap: 5px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    .oAuthBtn .auhImg{
        width: 16px;
        height: 16px
    }

    .oAuthBtn .authText{
        font-size: 14px;
    }
}