.myStoryBooks{
    padding-left: 70px;
    padding-right: 70px;
}

.myStoryBooks h3{
    width: 100%;
    font-weight: 500;
    height: 32px;
    font-size: 24px;
    color: var(--text-color-1);
}

.myStoryBooks .container{
    width: 100%;
    display: flex;
    gap: 32px;
    margin-top: 30px;
    margin-bottom: 60px;
}

.myStoryBooks .container .card-1{
    height: 384px;
    min-width: 297.25px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px dashed var(--text-color-3);
    background: var(--bg-4);
    border-radius: 4px;
    flex-direction: column;
}

.myStoryBooks .container .card-1 .newStoryLink{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.myStoryBooks .container .card-1 .newStoryLink img{
    width: 100px;
    height: 100px;
}

.myStoryBooks .container .card-1 .newStoryLink p{
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color-3);
}

.myStoryBooks .container .storyCard{
    display: flex;
    flex-direction: column;
}

.myStoryBooks .container .storyCard .cards{
    display: flex;
    gap: 32px;
    width: 100%;
    flex-wrap: wrap;
}

.myStoryBooks .container .card-2{
    height: 393px;
    min-width: 297.25px;
    border-radius: 10px;
    position: relative;
}

.myStoryBooks .container .card-2 .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(179.49deg, rgba(0, 0, 0, 0) -7.39%, rgba(0, 0, 0, 0.882) 66.97%),
    linear-gradient(0deg, #FFFFFF, #FFFFFF);
    border-radius: 10px;
}

.myStoryBooks .container .storyCard .paginationBtn{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.myStoryBooks .container .storyCard .paginationBtn span{
    height: 24px;
    font-weight: 500;
    font-size: 18px;
    color: var(--text-color-3);
}

.myStoryBooks .container .storyCard .paginationBtn .btn{
    display: flex;
    gap: 32px;
    align-items: center;
    height: 56px;
}

.myStoryBooks .container .storyCard .paginationBtn .btn .btn1,
.myStoryBooks .container .storyCard .paginationBtn .btn .btn2{
    height: 100%;
    width: 197px;
    border-radius: 22px;
    padding: var(--padding-2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.myStoryBooks .container .storyCard .paginationBtn .btn .btn1{
    background: transparent;
    border: 1px solid var(--text-color-3);
    color: var(--text-color-3);
    outline: none;
}

.myStoryBooks .container .storyCard .paginationBtn .btn .btn2{
    color: var(--text-color-2);
    background: var(--bg-5);
    border: none;
    outline: none;
}
