.reviews{
    width: 100%;
}

.reviews .reviewCard{
    width: 997.41px;
    height: 451px;
    left: 400px;
    top: 1402px;
    background: green;
    position: absolute;
}

.reviews .useCaseReview{
    top: 2200px;
    width: 997.41px;
    height: 451px;
    left: 400px;
    background: green;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .reviews .reviewCard{
        left: 0;
        right: 0;
        margin: auto;
        width: 95%;
    }

    .reviews .useCaseReview{
        left: 0;
        right: 0;
        margin: auto;
        width: 95%;
    }
}