.tableOfContent{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tableOfContent .t-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.tableOfContent .t-card .t-cardList{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 55px;
    background: var(--bg-4);
    justify-content: space-between;
    padding: 8px 10px 8px 10px;
    cursor: pointer;
}

.tableOfContent .t-card .t-cardList.active{
    border: 1px solid var(--bg-5);
}

.tableOfContent .t-card .contentLeft{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tableOfContent .t-card .contentLeft img{
    width: 16px;
    height: 16px;
}

.tableOfContent .t-card .contentRight{
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    flex: 36;
    background: transparent;
}

.tableOfContent .t-card .contentRight h3{
    color: var(--text-color-3);
    font-size: 12px;
}

.tableOfContent .t-card span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tableOfContent .t-card .contentRight span p{
    font-size: 14px;
    color: var(--text-color-2);
}

.tableOfContent .t-card .contentRight span img{
    width: 18px;
    height: 18px;
}

.tableOfContent .newCapter{
    width: 100%;
    padding: 12px 0px 12px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 55px;
    cursor: pointer;
}

.tableOfContent .newCapter img{
    height: 21px;
    width: 21px;
}

.tableOfContent .newCapter p{
    color: var(--text-color-3);
    font-size: 14px;
}